{% extends 'backend/home/base.html' %}

{% block title %}Add New Account | Expense Tracker{% endblock %}

{% block content %}

<div class="main-content mt-4">

<form method="POST">

<div class="card shadow-sm">

    <div class="card-header bg-white">
        <h5 class="mb-0">Add New Account</h5>
    </div>

    <div class="card-body">

        <!-- ACCOUNT NAME -->
        <div class="row mb-3">
            <label class="col-lg-3 col-form-label fw-bold">Account Name</label>

            <div class="col-lg-9">
                <input type="text" name="name" class="form-control"
                       placeholder="e.g. Main Wallet, Bank, EVC" required>
            </div>
        </div>

        <!-- TYPE -->
        <div class="row mb-3">
            <label class="col-lg-3 col-form-label fw-bold">Account Type</label>

            <div class="col-lg-9">
                <select name="type" class="form-select">
                    <option value="cash">Cash</option>
                    <option value="bank">Bank</option>
                    <option value="mobile">Mobile Money</option>
                </select>
            </div>
        </div>

        <!-- OPENING BALANCE -->
        <div class="row mb-3">
            <label class="col-lg-3 col-form-label fw-bold">Opening Balance</label>

            <div class="col-lg-9">
                <input type="number" step="0.01" name="balance"
                       class="form-control" value="0">
            </div>
        </div>

        <!-- CURRENCY -->
        <div class="row mb-3">
            <label class="col-lg-3 col-form-label fw-bold">Currency</label>

            <div class="col-lg-9">
                <input type="text" name="currency"
                       class="form-control" value="USD">
            </div>
        </div>

    </div>

    <div class="card-footer text-center">
        <button class="btn btn-primary px-4">
            Save Account
        </button>
    </div>

</div>

</form>

</div>

{% endblock %}