  <nav class="nxl-navigation">
        <div class="navbar-wrapper">
            <div class="m-header">
                 <a href="{{ url_for('main.dashboard') }}" class="b-brand">
                    <img src=" {{ url_for('static', filename='backend/uploads/images/logo.png') }}" width="200" height="75" class="logo logo-lg" />
                </a>
            </div>
            <div class="navbar-content">


                <ul class="nxl-navbar">
                    <li class="nxl-item nxl-caption">
                        <label>Navigation</label>
                    </li>

                    {% if current_user.is_authenticated %}
                   

                    {% if current_user.role in ['superadmin'] %}
                    <li class="nxl-item nxl-hasmenu">
                        <a href="{{ url_for('main.dashboard') }}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-airplay"></i></span>
                            <span class="nxl-mtext">Dashboards</span>
                        </a>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-users"></i></span>
                            <span class="nxl-mtext">Manage Users</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.all_users') }}">All Users</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_user') }}">Add New User</a></li>
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="layers"></i></span>
                            <span class="nxl-mtext">Categories</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.category_list') }}">All Categories</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_category') }}">Add Category</a></li>
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="user"></i></span>
                            <span class="nxl-mtext">Accounts</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.account_list') }}">All Accounts</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_account') }}">Add Account</a></li>
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="repeat"></i></span>
                            <span class="nxl-mtext">Transactions</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.transaction_list') }}">All Transactions</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_transaction') }}">Add Transaction</a></li>
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="minus-circle"></i></span>
                            <span class="nxl-mtext">Savings</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.saving_list') }}">All Savings</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_saving') }}">Add Saving</a></li>
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="credit-card"></i></span>
                            <span class="nxl-mtext">Saving Transactions</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item">
                                <a class="nxl-link" href="{{ url_for('main.saving_transaction_list') }}">
                                    All Saving Transactions
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="bar-chart-2"></i></span>
                            <span class="nxl-mtext">Reports</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{{url_for('main.weekly_report')}}">Weekly Report</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="">Monthly Report</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="">Yearly Report</a></li>
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="settings"></i></span>
                            <span class="nxl-mtext">Settings</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.change_password') }}">Account Settings</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="">System Settings</a></li>
                        </ul>
                    </li>



                     {% elif current_user.role in ['admin'] %}
                        <!-- ================= USER ================= -->
                     
                    <li class="nxl-item nxl-hasmenu">
                        <a href="{{ url_for('main.dashboard') }}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-airplay"></i></span>
                            <span class="nxl-mtext">Dashboards</span>
                        </a>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="layers"></i></span>
                            <span class="nxl-mtext">Categories</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.category_list') }}">All Categories</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_category') }}">Add Category</a></li>
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="user"></i></span>
                            <span class="nxl-mtext">Accounts</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.account_list') }}">All Accounts</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_account') }}">Add Account</a></li>
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="repeat"></i></span>
                            <span class="nxl-mtext">Transactions</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.transaction_list') }}">All Transactions</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_transaction') }}">Add Transaction</a></li>
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="minus-circle"></i></span>
                            <span class="nxl-mtext">Savings</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.saving_list') }}">All Savings</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_saving') }}">Add Saving</a></li>
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="credit-card"></i></span>
                            <span class="nxl-mtext">Saving Transactions</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item">
                                <a class="nxl-link" href="{{ url_for('main.saving_transaction_list') }}">
                                    All Saving Transactions
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="bar-chart-2"></i></span>
                            <span class="nxl-mtext">Reports</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{{url_for('main.weekly_report')}}">Weekly Report</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{{url_for('main.monthly_report')}}">Generally  Report</a></li>
                            <!-- <li class="nxl-item"><a class="nxl-link" href="{{url_for('main.weekly_report')}}">Yearly Report</a></li> -->
                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i data-feather="settings"></i></span>
                            <span class="nxl-mtext">Settings</span>
                            <span class="nxl-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="">Account Settings</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="">System Settings</a></li>
                        </ul>
                    </li>

                    
                    {% elif current_user.role in 'customer' %}
                  
                    {% endif %}

                {% else %}
                <!-- NOT LOGGED IN -->
                    <li class="nxl-item">
                        <a href="{{ url_for('main.login') }}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-log-in"></i></span>
                            <span class="nxl-mtext">Login</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
              
            </div>
        </div>
    </nav>